
/* a태그는 바디태그를 따르지 않으므로 색깔을 바꿀때 따로 지정을 해줘야 한다. */
a {
  color: #222;
  text-decoration: none;
}

/* 드롭다운 메뉴 */
.dropdown {
  margin-top: 10px;
  height: 40px;
  position: relative;
}

.dropdown > .box {
  display: inline;
  position: absolute;
  right: 15%;

}

/* 공통되는 css를 한번에 정의 */
.dropdown-btn, .dropdown-submenu {
  box-sizing: border-box;
  text-align: center;
  width: 150px;
}

/* 드롭다운메뉴 버튼 */
.dropdown-btn {
  /* 부모요소의 width를 상속 */
  padding: 10px;
  font-size: 15px;
  background-color: #222;
  color: #fff;
  

  /* 버튼태그는 기본적으로 테두리에 음영효과가 있어 따로 없애준다. */
  border: none;

  outline: none;
  cursor: pointer;
}

/* 드롭다운 내의 서브메뉴 */
.dropdown-submenu  {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  position: absolute;
  z-index: auto;
}

/* a태그 세로배치 */
.dropdown-submenu a {
  display: block;
  padding: 10px;
  background-color: #fff;

}

/* submenu에 마우스를 hover했을 때 */
.dropdown-submenu a:hover {
  background-color: #eee;
}

/* 
  부도요소 hover다음에 자식요소가 작성되면 
  부모요소에 마우스를 hover했을때 자식요소는 임의의 수행을 하게된다. 
*/
.box:hover .dropdown-submenu {
  display: block;
}