* {
  font-family: "Gowun Dodum", sans-serif;
}
a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.mytitle {
  width: 100%;
  height: 250px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mytitle > input {
  width: 300px;
  height: 50px;
  background-color: none;
  text-align: center;
  border-radius: 50px;
  border: 1px solid white;
  margin-top: 10px;
}

.row {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.col {
  margin: 0 20px 20px 20px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

.card-body {
  padding: 1px 5px 1px 5px;
}
.card-body p {
  padding: 0 3px 0 3px;
}
.card-title {
  color: black;
  font-size: 30px;
  margin: 5px 0 5px 0;
  font-weight: 600;
}
.card-img-top {
  height: 750px;
  width: 500px;
  object-fit: cover;
}
.detail-card {
  box-shadow: 1px 1px 5px gray;
  border-radius: 3px;
  margin: 20px auto 20px auto;
  width: 80%;
  display: flex;
}
.detail-card-body {
  margin-left: 10px;
}
.detail-title {
  font-size: 30px;
  font-weight: 600;
}
.main {
  margin: 0 10% 5% 10%;
}
.comments-box {
  margin: 40px auto 20px auto;
  text-align: center;
}

.comment {
  box-shadow: 1px 1px 4px gray;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.edit-btn {
  background-color: #53bf9d;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: #42967d;
}
.del-btn {
  border: 1px solid black;
  background-color: #f9894c;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.del-btn:hover {
  background-color: #b16238;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  display: none;
}
.show-modal {
  display: block;
}
.form {
  background: white;
  border-radius: 5px;
  width: 30%;
  padding: 40px;
  text-align: left;
  font-size: 20px;
  margin: auto;
}
.form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: inline;
}
.modal-input {
  width: 150px;
  font-size: 20px;
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea textarea {
  height: 100px;
  font-size: 20px;
}
.modal-btn {
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
#submit {
  background-color: #53bf9d;
}
#submit:hover {
  background-color: #42967d;
}
#close {
  background-color: #f9894c;
}
#close:hover {
  background-color: #b16238;
}
#save {
  background-color: #53bf9d;
}
#save:hover {
  background-color: #42967d;
}
#close2 {
  background-color: #f9894c;
}
#close2:hover {
  background-color: #b16238;
}
.modal-open {
  border: 1px solid black;
  background-color: #72a9f6;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

.modal-open:hover {
  background-color: #5880b7;
}
/* 드롭다운 메뉴 */
.dropdown {
  margin-top: 10px;
  height: 40px;
  position: relative;
}

.dropdown > .box {
  display: inline;
  position: absolute;
  right: 15%;
}

/* 공통되는 css를 한번에 정의 */
.dropdown-btn,
.dropdown-submenu {
  box-sizing: border-box;
  text-align: center;
  width: 150px;
}

/* 드롭다운메뉴 버튼 */
.dropdown-btn {
  /* 부모요소의 width를 상속 */
  padding: 10px;
  font-size: 20px;
  background-color: #222;
  color: #fff;

  /* 버튼태그는 기본적으로 테두리에 음영효과가 있어 따로 없애준다. */
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

/* 드롭다운 내의 서브메뉴 */
.dropdown-submenu {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  position: absolute;
  z-index: auto;
}

/* a태그 세로배치 */
.dropdown-submenu a {
  display: block;
  padding: 10px;
  background-color: #fff;
}

/* submenu에 마우스를 hover했을 때 */
.dropdown-submenu a:hover {
  background-color: #eee;
}

/* 
  부도요소 hover다음에 자식요소가 작성되면 
  부모요소에 마우스를 hover했을때 자식요소는 임의의 수행을 하게된다. 
*/
.box:hover .dropdown-submenu {
  display: block;
}

.sort-btn {
  color: #222;
  text-decoration: none;
}

.title-none {
  margin-top: 10%;
  font-size: 30px;
}
